
 * {
    padding: 0;
    margin: 0;
    color: white;
    background: #000 url(./images/stars.png) repeat top center;
    } 

#top-title {
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    background: -webkit-linear-gradient(#fff, rgb(12, 255,4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
    } 

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
#date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}


